<%- include('../partials/header') %>
<h2>Edit Event</h2>
<form action="/events/<%=id%>?_method=PUT" method="post">
  <label>Event Name:</label>
  <input type="text" name="eventName" value="<%=event.eventName%>" /><br />

  <label>Busker Name:</label>
  <input type="text" name="buskerName" value="<%=event.buskerName%>" /><br />

  <label>Date:</label>
  <input type="date" name="eventDate" value="<%=event.eventDate%>" /><br />

  <label>Location:</label>
  <input type="text" name="location" value="<%=event.location%>" /><br />

  <label>Event Description</label>
  <input type="text" name="eventDescription" value="<%=event.eventDescription%>" /> <br />

  <button type="submit">Update Event</button>
  <button type="reset">Cancel</button>
</form>

<%- include('../partials/footer') %>