<%- include('../partials/header') %>

<form action="/events/<%=id%>?_method=PUT" method="post">
  <label>Event Name:
    <input type="text" name="eventName" value="<%=event.eventName%>" /> </label><br />
  <label>Busker Name:
    <input type="text" name="buskerName" value="<%=event.buskerName%>" /> </label><br />
  <label>Location:
    <input type="text" name="location" value="<%=event.location%>" /> </label><br />
  </select> </label><br />
  <label>Event Details
    <input type="text" name="eventDetails" value="<%=event.eventDetails%>" /> </label><br />
  <button type="submit">Update Event</button>
  <button type="reset">Cancel</button>
</form>

<%- include('../partials/footer') %>