<%- include('../partials/header') %>
<h2 class="custom-h2">Edit Profile</h2>
<form action="/buskers/<%=id%>?_method=PUT" method="POST">

  <div class="mb-3">
    <label for="buskerName" class="form-label">Busker Name:</label>
    <input type="text" class="form-control" id="buskerName" name="buskerName" value="<%=busker.buskerName%>" required />
  </div>

  <div class="mb-3">
    <label for="buskingAct" class="form-label">Busking Act:</label>
    <input type="text" class="form-control" id="buskingAct" name="buskingAct" value="<%=busker.buskingAct%>" required />
  </div>

  <div class="mb-3">
    <label for="loeNumber" class="form-label">LOE Number:</label>
    <input type="text" class="form-control" id="loeNumber" name="loeNumber" value="<%=busker.loeNumber%>" required pattern="^[a-zA-Z0-9]{8}$" oninvalid="this.setCustomValidity('Please enter a valid 8-character alphanumeric LOE number.')" oninput="this.setCustomValidity('')" title="Please enter a valid 8-character alphanumeric LOE number." />
  </div>

  <div class="mb-3">
    <label for="validFrom" class="form-label">Valid From:</label>
    <input type="date" class="form-control" id="validFrom" name="validFrom" value="<%= dayjs(busker.validFrom).format('YYYY-MM-DD') %>" required />
  </div>

  <div class="mb-3">
    <label for="validTo" class="form-label">Valid To:</label>
    <input type="date" class="form-control" id="validTo" name="validTo" value="<%= dayjs(busker.validTo).format('YYYY-MM-DD') %>" required min="<%= new Date().toISOString().slice(0, 10) %>" />
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset" class="btn btn-secondary">Cancel</button> <br />

</form>
<%- include('../partials/footer') %>