<%- include('../partials/header') %>
<h2>Edit Profile</h2>
<form action="/buskers/<%=id%>?_method=PUT" method="POST">

  <label>Busker Name</label>
  <input type="text" name="buskerName" value="<%=busker.buskerName%>" required /><br />

  <label>Busking Act:</label>
  <input type="text" name="buskingAct" value="<%=busker.buskingAct%>" required /><br />

  <label>LOE Number:</label>
  <input type="text" name="loeNumber" value="<%=busker.loeNumber%>" required /><br />

  <label>Valid From:</label>
  <input type="date" name="validFrom" value="<%= dayjs(busker.validFrom).format('YYYY-MM-DD') %>" required /><br />

  <label>Valid To:</label>
  <input type="date" name="validTo" value="<%= dayjs(busker.validTo).format('YYYY-MM-DD') %>" required /><br />

  <button type=" submit">Save</button>
  <button type="reset">Cancel</button> <br />

</form>
<%- include('../partials/footer') %>