<%- include('../partials/header') %>

<div class="container">
  <h2 class="custom-h2">Create New Profile</h2>
  <div class="text-center mb-3">
    <form action="/buskers/new" method="get">
      <button class="btn btn-primary">Add Profile</button>
    </form>
  </div>

  <h2 class="custom-h2">Edit Existing Profiles</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Busker Name</th>
        <th>Busking Act</th>
        <th>LOE Number</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% busker.forEach(b => { %>
      <tr>
        <td><%= b.buskerName %></td>
        <td><%= b.buskingAct %></td>
        <td><%= b.loeNumber%></td>
        <td><%= dayjs(b.validFrom).format("DD-MMM-YYYY") %></td>
        <td><%= dayjs(b.validTo).format("DD-MMM-YYYY")%></td>
        <td>
          <form action="/buskers/<%=b.id%>/edit" method="get">
            <button class="btn btn-warning">Edit</button>
          </form><br />
          <form action="/buskers/<%=b.id%>?_method=DELETE" method="post">
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>