<%- include('../partials/header') %>
<h2><%=busker.buskerName%></h2>


<label>Busking Act:</label>
<input disabled type="text" name="buskingAct" value="<%=busker.buskingAct%>" /><br />

<label>LOE Number:</label>
<input disabled type="text" name="loeNumber" value="<%=busker.loeNumber%>" /><br />

<label>Valid From:</label>
<input disabled type="text" name="validFrom" value="<%= dayjs(busker.validFrom).format('DD-MM-YYYY') %>" /> <br />

<label>Valid To:</label>
<input disabled type="text" name="validTo" value="<%= dayjs(busker.validTo).format('DD-MM-YYYY') %>" /> <br />

<%- include('../partials/footer') %>